{% extends "app/base-index.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/terms.css' %}">
{% endblock %}

{% block body %}

<div class="container" style="margin-top:100px;margin-bottom:100px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Accounts</h2>
      <ol>
        <li>By using this service, you agree to be bound by these terms.</li>
        <li>Only one account is allowed per person, household or IP address.</li>
        <li>swap-hub reserves the right to terminate an account without warning if we suspect a violation of our Terms of Service.</li>
      </ol>
      <h2>Websites</h2>
      <ol>
        <li>swap-hub can not be held liable for any content displayed through the Traffic Exchange system.</li>
        <li>Adult websites may not be promoted through the Traffic Exchange system.</li>
      </ol>
      <h2>Liabilities</h2>
      <ol>
        <li>swap-hub can not be held liable for any damage that might be caused directly or indirectly by utilizing this service.</li>
      </ol>
      <h2>swap-hub Viewer</h2>
      <ol>
        <li>The swap-hub Viewer mode may transmit information, including personally identifying information, back to swap-hub&#39;s servers.</li>
        <li>The information will only be used for the purpose of improving the swap-hub Viewer application.</li>
      </ol>
      <h2>Guarantees about your results</h2>
      <ol>
        <li>swap-hub does not provide any guarantees about results with 3rd party services.</li>
        <li>For example, swap-hub makes no guarantees about the number of visits that will be registered on 3rd party websites (e.g. YouTube).</li>
      </ol>
      <h2>Privacy</h2>
      <ol>
        <li>swap-hub reserves the right to keep all the data related to your account, even after you delete your account.</li>
      </ol>
      <h2>Refund policy</h2>
      <ol>
        <li>
          100% money-back guarantee for 30 days.
        </li>
        <li>
          The refund policy applies only when you contact us directly through Support contact form.
        </li>
        <li>
          swap-hub reserves the right to refuse a refund if there&#39;s reasonable suspicion of fraud, or if the service has already been mostly used up.
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}