{% extends "app/base-index.html" %}

{% load bootstrap_form from bootstrap4 %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="container maincontent">
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-6 login__register">
        <div class="login__register-link">
          <h3>Already have an account?</h3>
          <a class="company-logo-2" href="/" style="margin-top:10px;margin-bottom:10px;">
            <i class="fa fa-code-fork fa-4x logo_base_2" aria-hidden="true"></i>
          </a>
          <p><a rel="nofollow" href="{% url "account:signin" %}" class="btn secondary narrow">
            Log in
          </a></p>
        </div>
      </div>
      <div class="col-md-6 login__form">
        <p>Please confirm your email address to complete the registration</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}