{% load bootstrap_form from bootstrap4 %}
<form method="post" action="{% url 'account:signin' %}" novalidate="">
  {% csrf_token %}
  <fieldset>
    {% bootstrap_form form %}
    {% if REDIRECT_FIELD_VALUE %}
      <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}"/>
    {% endif %}
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn primary narrow">
        Log in
      </button>
      <a rel="nofollow" class="link--styled" href="{% url "password_reset" %}">
        Forgot password?
      </a>
    </div>
  </div>
</form>